

<div id="footer" class="container text-center">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <span class="text-muted" id="copy">&copy; 2024 YelpCamp</span>
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex text-center" id="ul">
        <li class="ms-3"><a id="name" class="text-muted" href="#">Debojit Das Chowdhury</a></li>
        <li class="ms-3"><a class="text-muted" target="_blank" href="https://github.com/debojitdaschowdhury"><i class="fa-brands fa-github"></i></a></li>
        <li class="ms-3"><a class="text-muted" target="_blank" href="https://www.linkedin.com/in/debojit-das-chowdhury-55530a25a/"><i class="fa-brands fa-linkedin"></i></a></li>
      </ul>
    </footer>
  </div>