<% layout('layouts/boilerplate') %>

<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row justify-content-center w-100">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title text-center mb-4">Reset your Password</h5>
                    <form action="/forgot" method="POST" class="validated-form" novalidate>
                        
                        <div class="mb-3">
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" type="email" name="email" placeholder="email" id="email" autofocus required>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                       
                        <button class="btn btn-success w-100">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



