<% layout('layouts/boilerplate') %>

<div class="container d-flex justify-content-center align-items-center min-vh-100 ">
    <div class="row justify-content-center w-100">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title text-center mb-4">Login</h5>
                    <form action="/login" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" name="username" placeholder="username" id="username" autofocus required>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" name="password" placeholder="password" id="password" required>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <button class="btn btn-success">Login</button>
                        <a href="/register">Register</a>
                        <a href="/forgot">forgot password?</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
